# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/


# Logs
*.log


# ADK session database
session.db
.adk/

# SQLite databases
*.db
*.sqlite3


test/
chroma_db/
*.pdf